<div class="container mt-5 border">
  <form class="row g-3" [formGroup]="userForm" (ngSubmit)="getFormData()">
    <div class="col-md-4">
      <label for="validationServer01" class="form-label">First name</label>
      <input type="text" class="form-control " id="validationServer01" formControlName="firstname"
        [ngClass]="{'is-valid': userFormControls['firstname'].valid, 'is-invalid': userFormControls['firstname'].invalid && userFormControls['firstname'].touched}">
      <div class="text-danger"
        *ngIf="userFormControls['firstname'].invalid && (isSubmitted || userFormControls['firstname'].touched || userFormControls['firstname'].dirty)">
        <div *ngIf="userFormControls['firstname'].errors?.['required']"> Firstname is required</div>

      </div>
    </div>
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Last name</label>
      <input type="text" class="form-control is-valid" id="validationServer02" formControlName="lastname"
        [ngClass]="{'is-valid': userFormControls['lastname'].valid, 'is-invalid': userFormControls['lastname'].invalid && userFormControls['lastname'].touched}">
      <div class="text-danger"
        *ngIf="userFormControls['lastname'].invalid && (isSubmitted || userFormControls['lastname'].touched || userFormControls['lastname'].dirty)">
        <div *ngIf="userFormControls['lastname'].errors?.['required']"> Lastname is required</div>
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationServerUsername" class="form-label">Username</label>
      <div class="input-group ">
        <span class="input-group-text" id="inputGroupPrepend3">@</span>
        <input type="text" class="form-control " id="validationServerUsername"
          aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" formControlName="username"
          [ngClass]="{'is-valid': userFormControls['username'].valid, 'is-invalid': userFormControls['username'].invalid && userFormControls['username'].touched}">
        <div class="text-danger"
          *ngIf="userFormControls['username'].invalid && (isSubmitted || userFormControls['username'].touched || userFormControls['username'].dirty)">
          <div *ngIf="userFormControls['username'].errors?.['required']"> Username is required</div>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <label for="validationServer03" class="form-label">City</label>
      <input type="text" class="form-control " id="validationServer02" formControlName="city"
        [ngClass]="{'is-valid': userFormControls['city'].valid, 'is-invalid': userFormControls['city'].invalid && userFormControls['city'].touched}">
      <div class="text-danger"
        *ngIf="userFormControls['city'].invalid && (isSubmitted || userFormControls['city'].touched || userFormControls['city'].dirty)">
        <div *ngIf="userFormControls['city'].errors?.['required']"> City is required</div>
      </div>

    </div>
    <div class="col-md-3">
      <label for="validationServer04" class="form-label">State</label>
      <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback"
        formControlName="state"
        [ngClass]="{'is-valid': userFormControls['state'].valid, 'is-invalid': userFormControls['state'].invalid && userFormControls['state'].touched}">


        <option selected disabled value="">Choose...</option>
        <option>Delhi</option>
        <option>Gujrat</option>
        <option>Pune</option>
      </select>
      <div class="text-danger"
        *ngIf="userFormControls['state'].invalid && (isSubmitted || userFormControls['state'].touched || userFormControls['state'].dirty)">
        <div *ngIf="userFormControls['state'].errors?.['required']"> Firstname is required</div>
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer05" class="form-label">Zip</label>
      <input type="text" class="form-control is-invalid" id="validationServer05"
        aria-describedby="validationServer05Feedback" formControlName="zip"
        [ngClass]="{'is-valid': userFormControls['zip'].valid, 'is-invalid': userFormControls['zip'].invalid && userFormControls['zip'].touched}">
      <div class="text-danger"
        *ngIf="userFormControls['zip'].invalid && (isSubmitted || userFormControls['zip'].touched || userFormControls['zip'].dirty)">
        <div *ngIf="userFormControls['zip'].errors?.['required']"> zip is required</div>
      </div>

    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"
          aria-describedby="invalidCheck3Feedback" required>
        <label class="form-check-label" for="invalidCheck3">
          Agree to terms and conditions
        </label>
        <div id="invalidCheck3Feedback" class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
</div>